<nav>
    <ul>
        <li routerLink="/">Accueil</li>
        <li routerLink="/login" *ngIf="!user.isLoggedIn">Log in</li>
        <li routerLink="/signin" *ngIf="!user.isLoggedIn">Sign In</li>
        <li routerLink="/user" *ngIf="user.isLoggedIn">My Profile</li>
        <li routerLink="/dejavu" *ngIf="user.isLoggedIn">List your Movies</li>
        <li routerLink="/preferences" *ngIf="user.isLoggedIn">My preferences</li>
        <li routerLink="/" *ngIf="user.isLoggedIn">Log out</li>
    </ul>
</nav>