/* main styles */
.card {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* responsive styles */
@media (max-width: 768px) {
  .list {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

/* movie-specific styles */
.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 1.5rem;
  margin-top: 0;
}

.card p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.card:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

/* dark theme */
body {
  background-color: #111;
  color: #fff;
}

.card {
  background-color: #333;
}

.card:hover {
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.25);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root {
  --menu: 60px;
  --bleu: #042940;
  --noir: #1a1a1a;
  --clair: #fff;
  --gris: #d3d3d3;
  --cyan: #40e0d0;
}

html,
body {
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--noir);
  color: var(--gris);
  max-width: 97.5%;
  /* Adjust the maximum width as needed */
  margin: 0 auto;
}


h1 {
  color: var(--cyan);
}

app-racine>* {
  padding: 10px 15px;
}

* {
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: calc(100vh - var(--menu) - var(--menu));
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
}

body>header,
body>footer {
  width: 100vw;
  height: var(--menu);
}

:host ::ng-deep {
  width: 100vw;
}

nav>ul {
  display: flex;
  flex-flow: row nowrap;


}

nav>ul>li {
  list-style: none;
  padding: 5px 15px;
  cursor: pointer;
  background-color: var(--bleu);
  color: var(--clair);
  transition: all .3s ease;
  margin-right: 1px;
}

.header {
  background-color: var(--bleu);
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

nav>ul>li:hover {
  background-color: var(--noir);
  color: var(--gris);
}

table {
  width: 100%;
}

table thead {
  background: var(--gris);
  color: var(--noir);
}

table tr {
  padding: 5px 0;
}

table tr:nth-child(even) {
  background-color: var(--gris);
  color: var(--noir);
}

table td {
  padding: 5px;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

form>fieldset {
  width: 40%;
  margin: 10px auto;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid var(--gris);
}

label {
  margin: 10px 0 5px;
}

input,
textarea {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  background: var(--gris);
}

button {
  padding: 10px 15px;
  margin: 10px;
  transition: all .3s ease;
  cursor: pointer;
  border: var(--bleu);
  background-color: var(--noir);
  color: var(--clair);
}

button:hover {
  background-color: var(--bleu);
  color: var(--clair);
}

button[type="reset"] {
  background-color: var(--noir);
  color: var(--clair);
  border: 1px solid var(--gris);
}

button[type="reset"]:hover {
  background-color: var(--bleu);
  color: var(--gris);
  border: none;
}

.ng-invalid {
  border-bottom: 1px solid red;
}

.ng-valid {
  border-bottom: 1px solid green;
}